/*Generals*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color:rgba(169, 169, 169, 1) ;
}

/*Utility*/

.clearfix::after{
    content: "";
    display: table;
    clear:both;
}

.mbttm-20{
    margin-bottom: 20px;
}

.mbttm-50{
    margin-bottom: 50px;
}

.pd-10{
    padding-left: 10px;
    padding-right: 10px;
}

.pdrgt{
    padding-right: 20px;
}

.mbttm-10{
    margin-bottom: 10px;
}

/*Debug*/

.debug{
    height: 50px;
}


/*Color*/
.color1{
    background-color: rgba(229, 120, 230, 1);
}

.color2{
    background-color: rgba(225, 214, 121, 1);
}

.color3{
    background-color: rgba(171, 207, 231, 1);
}

.color4{
    background-color: rgba(136, 1, 254, 1);
}

/*Header*/

.container{
    max-width: 1200px;
    margin: auto;
}

header > img{
    width: 180px;
    height: auto;
    padding-top: 10px;
}

header > ul{
    list-style: none;
}

ul a{
    text-decoration: none;
}

ul a:hover{
    color:#000
}

.menue li{
    float: left;
    margin-left: 10px;
}



/*Main*/

.Bbox{
    background-color: rgba(0, 135, 253, 1);
    width: 100%;
}

.mainbar, 
.sidebar{
    float: left;
}

.sidebar{
    width: 20%;
}

.mainbar{
    width: 60%;
}

